{% extends 'base.html.twig' %}

{% block title %}Cart index{% endblock %}

{% block body %}
    <h1 class="font-bold"> All Carts</h1>
    {% if app.user %}
        <a class="btn bg-gray-600" href="{{ path('app_cart_new') }}">Create new cart</a>
    {% endif %}

    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Date</th>
                <th>User</th>
                <th>Denomination</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for cart in carts %}
            <tr>
                <td>{{ cart.id }}</td>
                <td>{{ cart.date ? cart.date|date('Y-m-d') : '' }}</td>
                <td>{{ cart.user }}</td>
                <td>{{ cart.denomination }}</td>
                <td  style="display: flex">
                    <a class="btn btn-sm btn-primary" href="{{ path('app_cart_show', {'id': cart.id}) }}">show</a>
                    <a class="btn btn-sm btn-success" href="{{ path('app_cart_edit', {'id': cart.id}) }}">edit</a>

                    {{ include('cart/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {{ knp_pagination_render(carts) }}
{% endblock %}
