{% extends 'base.html.twig' %}

{% block title %}Cart{% endblock %}

{% block body %}
    <h1 class="font-bold">Cart</h1>

    <table class="table">
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ cart.id }}</td>
        </tr>
        <tr>
            <th>Denomination</th>
            <td>{{ cart.denomination }}</td>
        </tr>
        <tr>
            <th>Date</th>
            <td>{{ cart.date ? cart.date|date('Y-m-d') : '' }}</td>
        </tr>
        <tr>
            <th>Products:</th>
            <table class="table">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Products</th>
                    <th>Price</th>
                </tr>
                </thead>
                <tbody>
                {% set i = 0 %}
                {% set sum = 0 %}
                {% for product in cart.product %}
                    {% set i = i +1 %}
                    {% set sum = sum + product.price %}
                    <tr>
                        <td>
                            {{i}}
                        </td>
                        <td>{{ product }}</td>
                        <td>{{ product.price }}</td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="4">no records found</td>
                    </tr>
                {% endfor %}
                <tr class="font-bold">
                    <td>Total:</td>
                    <td></td>
                    <td>{{ sum }}</td>
                </tr>
                </tbody>
            </table>
        </tr>
        </tbody>
    </table>
    <div style= "margin-top:10px; display: flex" >
        <a class="btn btn-sm btn-primary" href="{{ path('app_cart_index') }}">back to list</a>

        <a class="btn btn-sm btn-success" href="{{ path('app_cart_edit', {'id': cart.id}) }}">edit</a>

        {{ include('cart/_delete_form.html.twig') }}
    </div>
{% endblock %}
