{% extends 'base.html.twig' %}

{% block title %}Edit Main{% endblock %}

{% block body %}
    <h1>Edit Main</h1>

    {{ include('main/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_main_index') }}">back to list</a>

    {{ include('main/_delete_form.html.twig') }}
{% endblock %}
