{% extends 'base.html.twig' %}

{% block title %}Main index{% endblock %}

{% block body %}
    <h1>Main index</h1>
    <h2>{{ mains }}</h2>

{#    <table class="table">#}
{#        <thead>#}
{#            <tr>#}
{#                <th>Id</th>#}
{#                <th>Denomination</th>#}
{#                <th>actions</th>#}
{#            </tr>#}
{#        </thead>#}
{#        <tbody>#}
{#        {% for main in mains %}#}
{#            <tr>#}
{#                <td>{{ main.id }}</td>#}
{#                <td>{{ main.denomination }}</td>#}
{#                <td>#}
{#                    <a href="{{ path('app_main_show', {'id': main.id}) }}">show</a>#}
{#                    <a href="{{ path('app_main_edit', {'id': main.id}) }}">edit</a>#}
{#                </td>#}
{#            </tr>#}
{#        {% else %}#}
{#            <tr>#}
{#                <td colspan="3">no records found</td>#}
{#            </tr>#}
{#        {% endfor %}#}
{#        </tbody>#}
{#    </table>#}

    <a href="{{ path('app_main_new') }}">Create new</a>
{% endblock %}
