{% extends 'base.html.twig' %}

{% block title %}Main{% endblock %}

{% block body %}
    <h1>Main</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ main.id }}</td>
            </tr>
            <tr>
                <th>Denomination</th>
                <td>{{ main.denomination }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_main_index') }}">back to list</a>

    <a href="{{ path('app_main_edit', {'id': main.id}) }}">edit</a>

    {{ include('main/_delete_form.html.twig') }}
{% endblock %}
