{% extends 'base.html.twig' %}

{% block title %}Category index{% endblock %}

{% block body %}

    {% if app.user %}
        <a class="btn bg-gray-600" href="{{ path('app_category_new') }}">Create new category</a>
    {% endif %}

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Denomination</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for category in categories %}
            <tr>
                <td>{{ category.id }}</td>
                <td>{{ category.denomination }}</td>
                <td>{{ category.description }}</td>
                <td style="display: flex">
                    <a class="btn btn-sm btn-primary" href="{{ path('app_category_show', {'id': category.id}) }}">show</a>
                    <a class="btn btn-sm btn-success" href="{{ path('app_category_edit', {'id': category.id}) }}">edit</a>
                    {{ include('category/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
