{% extends 'base.html.twig' %}

{% block title %}New Category{% endblock %}

{% block body %}
    <h1 class="font-bold">Create new Category</h1>

    {{ include('category/_form.html.twig') }}

    <a class="btn btn-sm btn-primary" href="{{ path('app_category_index') }}">back to list</a>
{% endblock %}
