{% extends 'base.html.twig' %}

{% block title %}Category{% endblock %}

{% block body %}
    <h1 class="font-bold">Category</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ category.id }}</td>
            </tr>
            <tr>
                <th>Denomination</th>
                <td>{{ category.denomination }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ category.description }}</td>
            </tr>
        </tbody>
    </table>
<div class="actions"  style="display: flex">
    <a class="btn btn-sm btn-primary" href="{{ path('app_category_index') }}">back to list</a>

    <a class="btn btn-sm btn-success" href="{{ path('app_category_edit', {'id': category.id}) }}">edit</a>

    {{ include('category/_delete_form.html.twig') }}
</div>
{% endblock %}
