{% extends 'base.html.twig' %}

{% block title %}Product index{% endblock %}

{% block body %}
    <h1 class="font-bold"> All Products : {{ products.getTotalItemCount }}</h1>
    {% if app.user %}
        <a class="btn bg-gray-600" href="{{ path('app_product_new') }}">Create new product</a>
    {% endif %}
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Denomination</th>
                <th>Description</th>
                <th>Category</th>
                <th>Price</th>
                <th>Image</th>
                {% if app.user %}
                <th>actions</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td>{{ product.id }}</td>
                <td>{{ product.denomination }}</td>
                <td>{{ product.description }}</td>
                <td>{{ product.category }}</td>
                <td>{{ product.price }}</td>
                <td><img src="{{ asset('/images/') ~  product.image }}" style="width: 100px; height: 50px;" alt=""></td>
                {% if app.user %}
                <td  style="display: flex">
                    <a class="btn btn-sm btn-primary" href="{{ path('app_product_show', {'id': product.id}) }}">show</a>
                    <a class="btn btn-sm btn-success" href="{{ path('app_product_edit', {'id': product.id}) }}">edit</a>

                    {{ include('product/_delete_form.html.twig') }}
                </td>
                {% endif %}
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {{ knp_pagination_render(products) }}
{% endblock %}
