{% extends 'base.html.twig' %}

{% block title %}New Product{% endblock %}

{% block body %}
    <br>
    <h1 class="font-bold">Create new Product</h1>

    {{ include('product/_form.html.twig') }}

    <a class="btn btn-sm btn-primary" href="{{ path('app_product_index') }}">back to list</a>
{% endblock %}
