{% extends 'base.html.twig' %}

{% block title %}Product{% endblock %}

{% block body %}
    <h1 class="font-bold">Product</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ product.id }}</td>
            </tr>
            <tr>
                <th>Denomination</th>
                <td>{{ product.denomination }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ product.description }}</td>
            </tr>
        </tbody>
    </table>
    <div class="actions"  style="display: flex">
    <a class="btn btn-sm btn-primary" href="{{ path('app_product_index') }}">back to list</a>

    <a class="btn btn-sm btn-success" href="{{ path('app_product_edit', {'id': product.id}) }}">edit</a>

    {{ include('product/_delete_form.html.twig') }}
    </div>
{% endblock %}
