<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Shop{% endblock %}</title>
    <link rel="icon"
          href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.3.5/dist/alpine.min.js" defer></script>


    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>
<body class="bg-gray-100 h-screen antialiased leading-none font-sans">
{% block header %}
    <header>
        <nav
                class="flex items-center justify-between flex-wrap p-6 fixed w-full z-10 top-0"
                x-data="{ isOpen: false }"
                @keydown.escape="isOpen = false"
                :class="{ 'shadow-lg bg-gray-600' : isOpen , 'bg-gray-600' : !isOpen}">

            <div class="flex items-center flex-shrink-0 text-white mr-6">
                <a
                        class="text-white no-underline hover:text-white hover:no-underline"
                        href="/">
            <span class="text-2xl pl-2 font-extrabold">
                Shop
            </span>
                </a>
            </div>

            <button
                    @click="isOpen = !isOpen"
                    type="button"
                    class="block lg:hidden px-2 text-gray-500 hover:text-white focus:outline-none focus:text-white"
                    :class="{ 'transition transform-180': isOpen }">

                <svg
                        class="h-6 w-6 fill-current"
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 24 24">

                    <path
                            x-show="isOpen"
                            fill-rule="evenodd"
                            clip-rule="evenodd"
                            d="M18.278 16.864a1 1 0 0 1-1.414 1.414l-4.829-4.828-4.828 4.828a1 1 0 0 1-1.414-1.414l4.828-4.829-4.828-4.828a1 1 0 0 1 1.414-1.414l4.829 4.828 4.828-4.828a1 1 0 1 1 1.414 1.414l-4.828 4.829 4.828 4.828z"
                    />

                    <path
                            x-show="!isOpen"
                            fill-rule="evenodd"
                            d="M4 5h16a1 1 0 0 1 0 2H4a1 1 0 1 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2z"
                    />
                </svg>
            </button>

            <div
                    class="w-full flex-grow lg:flex lg:items-center lg:w-auto"
                    :class="{ 'block shadow-3xl': isOpen, 'hidden': !isOpen }"
                    @click.away="isOpen = false"
                    x-show.transition="true">

                <ul class="pt-6 lg:pt-0 list-reset lg:flex justify-end flex-1 items-center">
                    {% if is_granted('ROLE_ADMIN') %}
                    <li class="mr-3">
                        <a
                                class="inline-block text-gray-300 no-underline hover:text-gray-200 hover:text-underline py-2 px-4"
                                href="/admin"
                                @click="isOpen = false">
                            Admin
                        </a>
                    </li>
                    {% endif %}

                    <li class="mr-3">
                        <a
                                class="inline-block text-gray-300 no-underline hover:text-gray-200 hover:text-underline py-2 px-4"
                                href="/cart"
                                @click="isOpen = false">
                            Cart
                        </a>
                    </li>


                    <li class="mr-3">
                        <a
                                class="inline-block text-gray-300 no-underline hover:text-gray-200 hover:text-underline py-2 px-4"
                                href="/product"
                                @click="isOpen = false"
                        >Product
                        </a>
                    </li>

                    <li class="mr-3">
                        <a
                                class="inline-block text-gray-300 no-underline hover:text-gray-200 hover:text-underline py-2 px-4"
                                href="/category"
                                @click="isOpen = false">
                            Category
                        </a>
                    </li>


                    <li class="mr-3">
                        <a
                                class="inline-block text-gray-300 no-underline hover:text-gray-200 hover:text-underline py-2 px-4"
                                href="/register"
                                @click="isOpen = false">
                            Register
                        </a>
                    </li>

                    <li class="mr-3">
                        <a
                                class="inline-block text-gray-300 no-underline hover:text-gray-200 hover:text-underline py-2 px-4"
                                href="/{{ app.user ? 'logout' : 'login' }}"
                                @click="isOpen = false">
                            {{ app.user ? 'Logout' : 'Login' }}
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
{% endblock %}

<div class="container" style="padding-top: 100px;">
    {% block body %}{% endblock %}
</div>

{% block footer %}
    <footer class="bg-gray-600 py-6 mt-20">
        <p class="w-25 w-4/5 text-center pb-3 m-auto text-base text-gray-100 pt-6">
            Shop
        </p>
    </footer>
{% endblock %}
</body>
</html>
