{% if ea.crud.currentAction == 'detail' %}
   <ul class="list-group">
       {% for cart in field.value %}
            <li class="list-group-item d-flex justify-content-between align-items-center">
                {{ cart }}
            </li>
       {% endfor %}
   </ul>
{% else %}
    <span class="badge badge-secondary">{{ field.value|length }}</span>
{% endif %}